@font-face { /* Police d'écriture */
    font-family: "griffon";
    src: url("../fonts/Griffon-Regular.otf") format("otf");
}
html{
    font-family: "griffon";
}
.sign{
    background: url("../img/bg_blue.jpg") center center no-repeat #000000 fixed;
    background-size: cover;
    color:white;
    width: auto;
    height: 900px;
}
.divCarousel {
    height: 100%;
    padding: 0px;
}

.carousel-inner {
    height: 100%;
}

.carousel-item {
    height: 100%;
}

.carousel-item img {
    height: 100%;
}