.test{
    background: url("../img/testimonal_background_dark.jpg") center center no-repeat #000000 fixed;
    background-size: cover;
    color:white;
    width: auto;
    height: 900px;
}
.logo{
    display: flex;
    justify-content: center;
}